.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width:1280px) {
    .container {
        max-width: 1280px;
        padding: 0 50px;
    }
}