.exercises-container {
  width: 335px;
  background-color: var(--second-background-color);
  border-radius: 30px;
  padding: 40px 20px;
}

@media screen and (min-width: 768px) {
  .exercises-container {
    width: 736px;
    padding: 64px 48px;
  }
}

@media screen and (min-width: 1440px) {
  .exercises-container {
    width: 1408px;
    padding: 64px 48px;
  }
}
/* =============== TITLE =============== */

.exercises-title {
  color: var(--main-text-color);

  font-family: 'DM Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.64px;
  margin-bottom: 20px;

  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 8px;
}

.choosen-content {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: rgba(27, 27, 27, 0.5);
}

@media screen and (min-width: 768px) {
  .exercises-title {
    font-size: 44px;
    margin-bottom: 32px;
  }
  .choosen-content {
    font-size: 24px;
  }
}

/* =================== FILTER BTN =============== */

.filter-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.search-menu {
  margin-bottom: 40px;
}

/* ==================== SEARCH ================== */

.search {
  margin-top: 20px;
  border-radius: 30px;
  padding-left: 14px;
  padding-right: 37px;
  width: 295px;
  height: 42px;
  border: none;

  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--main-text-color);

  position: relative;
}

.svg-button {
  position: absolute;
  transform: translate(-40px, 30px);
  background-color: transparent;
  border: none;
}

::placeholder {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--main-text-color);
}

/* ==================== /SEARCH ================== */
.loader.is-hidden {
  display: none;
}

.is-hidden {
  display: none;
}

.filter-button {
  display: block;
  background-color: var(--second-text-color);
  border-radius: 30px;
  height: 32px;
  padding: 7px 14px;
  border: none;

  color: var(--main-text-color);

  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

.filter-button:hover {
  background-color: var(--third-background-color);
  color: var(--second-text-color);
}

.active-btn {
  background-color: var(--third-background-color);
  color: var(--second-text-color);
}

@media screen and (min-width: 768px) {
  .filter-button {
    height: 44px;
    font-size: 16px;
  }
  .search-menu {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
  }
  .search {
    width: 246px;
    margin-top: 0px;
  }
  .svg-button {
    transform: translate(-40px, 9px);
  }
}

@media screen and (min-width: 1440px) {
  .filter-button {
    padding: 10px 20px;
  }
}

/* =================== Gallery =============== */

.gallery-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.gallery-item {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(16, 16, 16, 1);
  width: 313px;
  height: 250px;
  border-radius: 12px;
}

.exercises-img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid rgba(246, 246, 246, 0.3);
  overflow: hidden;

  transform: scale(1.03);
  opacity: 0.4;
  transition: opacity 0.4s, transform 0.4s;
}

.exercises-img:hover {
  transform: scale(1.2);
  opacity: 0.3;
}

.muscles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.muscles-group {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  color: var(--second-text-color);
}

.muscles-group-name {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(246, 246, 246, 0.4);
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 32px;
  }
  .img-container {
    width: 312px;
    height: 250px;
  }
  .exercises-img {
    max-width: 313px;
    height: 250px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery-list {
    gap: 40px 20px;
    margin-bottom: 32px;
  }
}
/* ================== Page =================== */
.page-number-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.page-number-list-workout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.page-number-item {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0.04em;
  color: var(--main-text-color_a-four);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.page-number-item:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.active-page {
  padding: 0px 12px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 1px solid var(--main-text-color);
  border-radius: 18px;
  font-size: 24px;
  color: var(--main-text-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.page-btns.is-hidden {
  display: none;
}

.arrow-btn,
.dots {
  font-size: 24px;
  border: none;
  background-color: inherit;
  color: var(--main-text-color_a-four);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arrow-btn:hover {
  color: var(--main-text-color);
  transform: scale(1.2);
  cursor: pointer;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* ================ Workout cards ================== */

.workout-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.workout-item {
  padding: 16px;
  background-color: var(--white-background-color);
  border-radius: 15px;
  width: 295px;
  height: 165px;
}
.top-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.top-wrap-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.workout {
  border-radius: 15px;
  padding: 7px 8px;
  width: 76px;
  height: 26px;
  background-color: var(--third-background-color);
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: var(--second-text-color);
}

.rating {
  display: flex;
  flex-direction: row;
}
.rating-number {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--main-text-color);
  margin-right: 2px;
}

.button {
  width: 54px;
  height: 18px;
  padding: 2px 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--main-text-color);
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 5px;
}

.workout-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
}

.workout-container {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
}

.main-icon-wrap {
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: var(--accent-text-color);
  padding: 4px 5px;
}

.workout-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: var(--main-text-color);
}

.workout-title.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.workout-info-container {
  display: flex;
  gap: 4px;
}

.workout-info-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--main-text-color_a-four);
}

.workout-info-value {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.icon-star {
  fill: #eea10c;
  margin-top: 1.5px;
}

.icon-arrow {
  stroke: var(--main-text-color);
  stroke-width: 1.2999999523162842px;
  margin-left: 8px;
  fill: var(--main-text-color);
  flex-shrink: 0;
}

.icon-run {
  fill: var(--second-background-color);
}

.icon-search {
  stroke-width: 1.5px;
  stroke: var(--main-text-color);
  fill: none;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .workout-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 14px;
  }
  .workout-item {
    width: 313px;
    height: 165px;
  }
  .button {
    font-size: 16px;
    height: 24px;
    width: 61px;
  }
  .workout-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .button {
    width: 61px;
    height: 24px;
  }
  .workout-item {
    width: 424px;
    height: 141px;
  }
  .workout-info {
    display: flex;
    gap: 0 16px;
    justify-content: flex-start;
  }
  .top-wrap {
    margin-bottom: 25px;
  }
  .workout-list {
    gap: 28px 20px;
  }
  .workout-title:hover {
    position: absolute;
    transform: translateX(40px);
    background-color: var(--white-background-color);
  }
}
/* ==================== NEGATIVE RESULT ================ */

.negative-result-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main-text-color);
  padding-top: 164px;
  padding-bottom: 320px;
}

.no-result {
  color: var(--third-background-color);
}
@media screen and (min-width: 768px) {
  .negative-result-text {
    font-size: 18px;
    margin-top: 222px;
    margin-bottom: 585px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .no-result {
    font-size: 18px;
  }
  .negative-result {
    width: 536px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .negative-result-text {
    margin-top: 217px;
    margin-bottom: 350px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 684px;
  }
}

.temporary-hidden {
  display: none;
}

@media screen and (min-width: 1440px) {
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
