.favorites-block {
    padding: 20px;
}

.favorites-block-container {
    padding-top: 40px ;
    padding-bottom: 40px;
    border-radius: 30px;
    background-color: var(--second-background-color);
}

.section-title {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--main-text-color);
    
}

.favorites-list {
display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 14px;
}

.list-item {
    /* flex-basis: calc((100% - 16px) / 2); */
    border-radius: 15px;
    padding: 16px;
    background-color: var(--white-background-color);
    /* background-color: red; */
}

.wrap-hhhh {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}

.wrap-heading {
    display: flex;
    align-items: center;
}

.heading {
    /* display: inline-block; */
    border-radius: 15px;
    padding: 5px 8px;
    background-color: var(--third-background-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color: var(--second-text-color);
}

.btn-trash {
    background-color: transparent;
    border: none;
    padding: 5px 8px;
font-size: 0;
   
}

.icon-trash {
    fill: none;
    stroke: var(--main-text-color);
}

.button {
    display: flex; 
    align-self: flex-start;
    align-items: center; 
    gap: 8px;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    color: var(--main-text-color);
    
}

.icon-arrow {
    stroke: var(--main-text-color);
}

.wrap {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.wrap-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 16px;
    width: 24px;
    height: 24px;
border-radius: 100%;
background-color: var(--third-background-color);
}

.icon-run {
    
     
 fill: #fff; 

    /* stroke: black;  */
    /* background-color: var(--third-background-color); */
}

.item-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: var(--main-text-color);
}


.wrap-descr {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 6px;

}

.text {
    font-size: 12px;
    line-height: 1.5;
    color:var(--main-text-color_a-four);
}

span {
    font-size: 12px;
    line-height: 1.5;
    color: var(--main-text-color);
}