.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}

.header-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: -0.02em;
    color: #1b1b1b;
}

.header-links {
    border-radius: 60px;
    width: 211px;
    height: 52px;
    background: #7e847f;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header-link-home {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #f6f6f6;
}

.header-link-favor {
    border-radius: 30px;
    padding: 6px 14px;
    width: 95px;
    height: 36px;
    background: #fff;
}

.link-social {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: -0.02em;
    color: #1b1b1b;
}


.header-svg {
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;

    padding: 0;
    background-color: transparent;
    border: none;

    @media screen and (max-width: 767px) {
        .header-menu {
            display: none;
        }
    }
}

.is-hidden {
    display: none;
}