 .hero {
     max-width: 428px;
     margin-left: auto;
     margin-right: auto;
     padding: 112px 0;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-color: var(--bakgr-footer);
     background-image: linear-gradient(rgba(46, 47, 66, 0.7),
             rgba(46, 47, 66, 0.7)),
         url(../images/mob-dark.jpg);
 }
 
 @media screen and (min-width: 768px) {
     .hero {
         max-width: 768px;
         padding: 112px 0;
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)),
             url(../images/desk-dark.jpg);
     }
 }

  @media screen and (min-width: 1158px) {
     .hero {
         max-width: 1440px;
         margin: 0 auto;
         padding: 188px 0;
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)),
             url(../images/peopleoffice.jpg);
     }
 }

 
 .container-text {
     display: flex;
     flex-direction: column;
     row-gap: 72px;
     align-items: center;
     justify-content: center;
 }

 @media screen and (min-width: 768px) {
     .container-text {
         row-gap: 36px;
     }
 }

 @media screen and (min-width: 1440px) {
     .container-text {
         row-gap: 48px;
     }
 }

 .hero-business {
     width: 320px;
     color: var(--title-one);
     text-align: center;
     font-size: 36px;
     font-weight: 700;
     line-height: 1.11;
     letter-spacing: 0.02em;
 }

 @media screen and (min-width: 768px) {
     .hero-business {
         width: 496px;
         font-size: 56px;
         line-height: 1.07;
     }
 }

 .hero-img-btn {
     background-color: var(--accent-color);
     color: var(--title-one);
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     min-height: 56px;
     min-width: 169px;
     align-items: center;
     border-radius: 4px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .hero-img-btn:hover,
 .hero-img-btn:focus {
     background-color: var(--backgr-btn);
 }