 .hero {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
 }  
 .hero-img {
    border-radius: 30px;
    width: 335px;
    height: 387px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.10),
        rgba(46, 47, 66, 0.10)), url('../../img/hero/hero-mini.jpg');
}
@media screen and (min-resolution: 192dpi),
screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 2dppx) {
  .hero-img {
    background-image: linear-gradient(rgba(46, 47, 66, 0.10), 
    rgba(46, 47, 66, 0.10)), url('../../img/hero/hero-mini@2x.jpg');
  }
}
.hero-info {
  padding-top: 20px;
  border-radius: 30px;
  width: 335px;
  height: 365px;
}
.hero-title {
  font-weight: 400;
  font-size: 56px;
  line-height: 0.89286;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
}
.hero-title-body {
  font-style: italic;
  color:var(--accent-text-color);
}
.hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--main-text-color);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

 @media screen and (min-width:768px) {
  .hero {
     flex-direction: row;
     margin-bottom: 16px;
   }
  .hero-img {
   border-radius: 50px 0 50px 50px;
   width: 248px;
   height: 900px;
   background-image: linear-gradient(rgba(46, 47, 66, 0.10),
      rgba(46, 47, 66, 0.10)), url('../../img/hero/hero2.jpg');
  }
    @media screen and (min-resolution: 192dpi),
      screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 2dppx) {
        .hero-img {
         background-image: linear-gradient(rgba(46, 47, 66, 0.10),
          rgba(46, 47, 66, 0.10)), url('../../img/hero/hero2@2x.jpg');
               }
        }
  
 .hero-info {
   border-radius: 0 50px 50px 50px;
   padding-top: 0px;
   width: 480px;
   height: 900px;
  }
 .hero-title {
   font-size: 98px;
   line-height: 0.96939;
   letter-spacing: -0.02em;   
   padding-top: 231px;
   padding-left: 30px;
   padding-right: 30px;
 }
  .hero-text {
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: -0.01em;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
 }

@media screen and (min-width: 1440px) {
  .hero-img {
    border-radius: 50px 0 50px 50px;
    width: 704px;
    height: 884px;       
    background-image: linear-gradient(rgba(46, 47, 66, 0.10),
        rgba(46, 47, 66, 0.10)), url('../../img/hero/hero.jpg');
  }
 @media screen and (min-resolution: 192dpi),
   screen and (min-device-pixel-ratio: 2),
   screen and (min-resolution: 2dppx) {
     .hero-img {
     background-image: linear-gradient(rgba(46, 47, 66, 0.10),
      rgba(46, 47, 66, 0.10)), url('../../img/hero/hero@2x.jpg');
        }
    }

 .hero-info {
   border-radius: 0 50px 50px 50px;
   width: 704px;
   height: 884px;
 }
.hero-title {
  font-size: 120px;
  line-height: 0.95833;
  letter-spacing: -0.02em;
  padding-top: 225px;
  padding-left: 32px;
  padding-bottom: 25px;
}
 .hero-text {
   font-size: 18px;
   line-height: 1.33333;
   letter-spacing: -0.01em;
 }
}  

