/* В джс прописати добавлення класу модал для баді коли модалка відкривається */
body.modal {
  overflow-y: hidden;
  overflow-x: hidden;
}

.exercise-modal-container {
  overflow-y: auto;
}

/* БЕКДРОП */

.exercise-modal-container {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.6);
  transition: opacity 250ms ease-in-out, pointer-events 250ms ease-in-out;
}

/* коли відкриваємо модальне вікно */
.exercise-modal-container.active {
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

/* ВІКНО МОДАЛКИ */

.modal-exercise-wrap {
  z-index: 100;
  opacity: 0;
  visibility: hidden;

  width: 335px;
  /* height: 95%; */
  padding: 40px 20px;
  margin: auto;

  position: absolute;
  top: 60%;
  left: 50%;

  background-color: #f6f6f6;
  border-radius: 20px;

  transform: translate(-50%, -50%);
  transition: opacity 250ms ease-in-out;
  transition-delay: 100ms;
}

.modal-exercise-wrap.active {
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

/* Планшет */
@media screen and (min-width: 768px) {
  .modal-exercise-wrap {
    width: 716px;
    padding: 40px;
  }
}

/* ПК */
@media screen and (min-width: 1280px) {
  .modal-exercise-wrap {
    width: 732px;
  }
}

/* КНОПКА ЗАКРИТТЯ МОДАЛКИ */

.close-exercise-btn {
  top: 14px;
  right: 14px;
  position: absolute;

  width: 24px;
  height: 24px;
  padding: 0;
  border: none;

  cursor: pointer;
  background: none;
}
/* Планшет */
@media screen and (min-width: 768px) {
  .close-exercise-btn {
    top: 16px;
    right: 16px;

    width: 28px;
    height: 28px;
  }
}

/* КНОПКИ */

.modal-button {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
/* Планшет */
@media screen and (min-width: 768px) {
  .modal-button {
    flex-direction: row;
    gap: 7px;
  }
}

.modal-add-favorite {
  padding: 12px 83px;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  border: none;
  background: #7e847f;

  color: #f6f6f6;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
  white-space: nowrap;
  height: 42px;
}
.modal-add-favorite.active {
  /* коли натиснимо на неї */
  color: #f6f6f6;
}
/* Планшет */
@media screen and (min-width: 768px) {
  .modal-add-favorite {
    padding: 12px 24px;
    height: 48px;
  }
}
.modal-add-favorite:hover,
.modal-add-favorite:focus {
  background: #5f6560;
}

.modal-give-rating {
  padding: 12px 83px;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  border: 1px solid #1b1b1b;

  color: #1b1b1b;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  cursor: pointer;
  white-space: nowrap;
  height: 42px;
}
/* Планшет */
@media screen and (min-width: 768px) {
  .modal-give-rating {
    padding: 12px 24px;
    height: 48px;
  }
}
.modal-give-rating:hover,
.modal-give-rating:focus {
  border: 1px solid #7e847f;
  color: #7e847f;
}

/* ЗІРКИ В РЕЙТИНГУ */
.star-1,
.star-2,
.star-3,
.star-4,
.star-5 {
  width: 18px;
  height: 18px;
  fill: rgba(27, 27, 27, 0.2);
}

.star-1.activeStar,
.star-2.activeStar,
.star-3.activeStar,
.star-4.activeStar,
.star-5.activeStar {
  fill: #eea10c;
}

/* Рендер в джс*/

.card-markup-modal {
  display: flex;
  position: relative;
  flex-direction: column;
}

/* гіф */
.modal-gif {
  margin-bottom: 20px;
}

.modal-iframe-gif {
  border-radius: 12px;
  width: 295px;
  height: 258px;
}

/* Заголовок */
.card-star-modal {
  position: relative;
}

.card-star-modal::before {
  content: '';
  position: absolute;
  top: 68px;
  width: 295px;
  height: 1px;
  background-color: rgba(27, 27, 27, 0.2);
}

.modal-exercise-name {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #1b1b1b;

  margin-bottom: 10px;
}

/* Рейтинг */
.exercise-star-modal {
  display: flex;
  gap: 2px;

  height: 18px;

  margin-bottom: 30px;
}

.modal-exercise-rating {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #1b1b1b;
}

/* Планшет */
@media screen and (min-width: 768px) {
  .card-star-modal::before {
    top: 74px;
    width: 342px;
  }

  .card-markup-modal {
    flex-direction: row;
  }

  .modal-iframe-gif {
    width: 270px;
    height: 259px;

    margin-right: 24px;
  }

  .card-star-modal {
    margin-top: 0px;
  }

  .modal-exercise-name {
    font-size: 24px;
    line-height: 1.33333;

    margin-bottom: 8px;
  }

  /* Рейтинг */
  .exercise-star-modal {
    margin-bottom: 24px;
  }
}
/* ПК */
@media screen and (min-width: 1280px) {
  .modal-iframe-gif {
    margin-right: 40px;
  }
}

/* tegs */
.modal-hashtag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;

  margin-bottom: 30px;
  position: relative;
}

.modal-hashtag-list::before {
  content: '';
  position: absolute;
  top: 100px;
  width: 295px;
  height: 1px;
  background-color: rgba(27, 27, 27, 0.2);
}

.modal-name-characteristics {
  display: flex;
  flex-direction: column;
}

.modal-characteristics {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(27, 27, 27, 0.4);
}

.modal-value {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #1b1b1b;
}
.modal-general-info {
  margin-bottom: 40px;
}
/* Планшет */
@media screen and (min-width: 768px) {
  .modal-general-info {
    margin-bottom: 32px;
    width: 342px;
  }
  .modal-hashtag-list {
    width: 342px;
    margin-bottom: 24px;
  }

  .modal-hashtag-list::before {
    top: 104px;
    width: 342px;
  }
}
.modal-recipe-description {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(27, 27, 27, 0.6);
}
