.quote {
  max-width: 375px;
  height: 272px;
}

.quote__wrapper {
  position: relative;
  padding: 42px 20px 40px 66px;
  border-radius: 30px;
  background: #7e847f;
}

.quote__title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #f6f6f6;
}

.quote__title::before {
  content: ' ';
  position: absolute;
  display: block;
  top: 40px;
  left: 20px;
  width: 34px;
  height: 32px;
  fill: #f6f6f6;
  border-radius: 50%;
  background-color: rgba(246, 246, 246, 0.1);
  background-image: url('../../img/quote/runnig__man.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.quote__title::after {
  content: ' ';
  display: block;
  top: 40px;
  right: 20px;

  width: 23.5px;
  height: 19px;
  padding: 6px 4px 4px 3px;
  fill: #f6f6f6;
  background-image: url('../../img/quote/quote-icon--quotes.svg');
  background-repeat: no-repeat;
}

blockquote {
  margin: 0;
  margin-top: 14px;
}

.quote__text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: rgba(246, 246, 246, 0.6);
}

.quote__text--author {
  margin-top: 14px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #f6f6f6;
}

/*! =============== Tablet_768px =============== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }

  .quote {
    max-width: 768px;
    height: 302px;
  }

  .quote__wrapper {
    padding: 64px 80px 64px 130px;
  }

  .quote__title {
   display: block;

    font-size: 24px;
    line-height: 1.33;
  }
  
  .quote__title::before {
    content: ' ';
    position: absolute;
    display: block;
    
    top: 64px;
    left: 80px;
    width: 34px;
    height: 32px;
    fill: #f6f6f6;
    border-radius: 50%;
    background-color: rgba(246, 246, 246, 0.1);
    background-image: url('../../img/quote/runnig__man.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .quote__title::after {
    content: ' ';
    display: block;
    


    position: absolute;
    top: 40px;
    right: 80px;

    width: 37px;
    height: 31px;
    fill: #f6f6f6;
    background-image: url('../../img/quote/quote-icon--quotes.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  blockquote {
    margin-top: 32px;
  }

  .quote__text {
    font-size: 16px;
    line-height: 1.5;
  }

  .quote__text--author {
    margin-top: 25px;
  }

  /* picture{

  } */
}

/* ==============/ Tablet_768px =============== */

/*! =============== Desktop_1440px ============== */
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
    
  .quote {
    display: flex;
    
  }

  .quote__wrapper {
    width: 704px;

    padding: 64px 64px 64px 114px;
  }

  .quote__title::before {
    left: 64px;
  }


  .quote__text {
    margin-top: 16px;
  }

  .quote__img {
    width: 704px;
  }
 }

/* ===============/ Desktop_1440px ============== */
