<section>
  <div class="exercises-container container">
    <div class="loader"></div>
    <div class="title-container">
      <h2 class="exercises-title">Exercises</h2>
    </div>
    <div class="search-menu">
      <ul class="filter-list">
        <li class="filter-button-item">
          <button type="button" class="filter-button active-btn" name="muscles">
            Muscles
          </button>
        </li>
        <li>
          <button type="button" class="filter-button" name="body-parts">
            Body parts
          </button>
        </li>
        <li class="filter-button-item">
          <button type="button" class="filter-button" name="equipment">
            Equipment
          </button>
        </li>
      </ul>
      <form class="form is-hidden">
        <input
          type="search"
          name="search-field"
          class="search"
          placeholder="Search..."
        />
        <button class="svg-button">
          <svg class="icon-search" width="18" height="18" id="search_icon">
            <use href="./img/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <ul class="gallery-list"></ul>

    <ul class="page-number-list"></ul>
    <div class="page-btns">
      <button class="arrow-btn">&lt;</button>
      <ul class="page-number-list-workout"></ul>
      <button class="arrow-btn">&gt;</button>
    </div>
    <div class="negative-result is-hidden">
      <p class="negative-result-text">
        Unfortunately, <span class="no-result">no results</span> were found. You
        may want to consider other search options to find the exercise you are
        looking for. Our range is wide and you have the opportunity to find more
        options that suit your needs.
      </p>
    </div>
  </div>
</section>
