<section>
  <div class="exercises-container container">
    <h2 class="exercises-title">
      Exercises /
      <span class="is-hidden choosen-content">Waist</span>
    </h2>
    <div class="search-menu">
      <ul class="filter-list">
        <li class="filter-button-item">
          <button type="button" class="filter-button active-btn" name="muscles">
            Muscles
          </button>
        </li>
        <li>
          <button type="button" class="filter-button" name="body-parts">
            Body parts
          </button>
        </li>
        <li class="filter-button-item">
          <button type="button" class="filter-button" name="equipment">
            Equipment
          </button>
        </li>
      </ul>
      <form class="form temporary-hidden">
        <input
          type="search"
          name="search-field"
          class="search"
          placeholder="Search..."
        />
        <button class="svg-button">
          <svg class="icon-search" width="18" height="18">
            <use href="../img/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <ul class="gallery-list"></ul>
    <ul class="page-number-list">
      <!-- <li class="page-number-item active-page">1</li>
      <li class="page-number-item">2</li> -->
    </ul>
    <ul class="workout-list">
      <li class="workout-item">
        <div class="top-wrap">
          <div class="top-wrap-right">
            <div class="workout">WORKOUT</div>
            <div class="rating">
              <span class="rating-number">4.0</span>
              <svg class="icon-star" width="13" height="13">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <button class="start-btn" type="button">
            Start
            <svg class="icon-arrow" width="14" height="14">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="workout-container">
          <div class="main-icon-wrap">
            <svg class="icon-run" width="14" height="16">
              <use href="../img/sprite.svg#icon-run"></use>
            </svg>
          </div>
          <p class="workout-title">Air bike</p>
        </div>
        <div class="workout-info">
          <p class="workout-info-container">
            <span class="workout-info-title">Burned calories:</span>
            <span class="workout-info-value">312 / 3 min</span>
          </p>
          <p class="workout-info-container">
            <span class="workout-info-title">Body part:</span>
            <span class="workout-info-value">Waist</span>
          </p>
          <p class="workout-info-container">
            <span class="workout-info-title">Target:</span>
            <span class="workout-info-value">Abs</span>
          </p>
        </div>
      </li>
      <li class="workout-item">
        <div class="top-wrap">
          <div class="top-wrap-right">
            <div class="workout">WORKOUT</div>
            <div class="rating">
              <span class="rating-number">4.0</span>
              <svg class="icon-star" width="13" height="13">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <button class="start-btn" type="button">
            Start
            <svg class="icon-arrow" width="14" height="14">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="workout-container">
          <div class="main-icon-wrap">
            <svg class="icon-run" width="14" height="16">
              <use href="../img/sprite.svg#icon-run"></use>
            </svg>
          </div>
          <p class="workout-title">Air bike</p>
        </div>
        <div class="workout-info">
          <p class="workout-info-container">
            <span class="workout-info-title">Burned calories:</span>
            <span class="workout-info-value">312 / 3 min</span>
          </p>
          <p class="workout-info-container">
            <span class="workout-info-title">Body part:</span>
            <span class="workout-info-value">Waist</span>
          </p>
          <p class="workout-info-container">
            <span class="workout-info-title">Target:</span>
            <span class="workout-info-value">Abs</span>
          </p>
        </div>
      </li>
      <li class="workout-item">
        <div class="top-wrap">
          <div class="top-wrap-right">
            <div class="workout">WORKOUT</div>
            <div class="rating">
              <span class="rating-number">4.0</span>
              <svg class="icon-star" width="13" height="13">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <button class="start-btn" type="button">
            Start
            <svg class="icon-arrow" width="14" height="14">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="workout-container">
          <div class="main-icon-wrap">
            <svg class="icon-run" width="14" height="16">
              <use href="../img/sprite.svg#icon-run"></use>
            </svg>
          </div>
          <p class="workout-title">Air bike</p>
        </div>
        <div class="workout-info">
          <p class="workout-info-container">
            <span class="workout-info-title">Burned calories:</span>
            <span class="workout-info-value">312 / 3 min</span>
          </p>
          <p class="workout-info-container">
            <span class="workout-info-title">Body part:</span>
            <span class="workout-info-value">Waist</span>
          </p>
          <p class="workout-info-container">
            <span class="workout-info-title">Target:</span>
            <span class="workout-info-value">Abs</span>
          </p>
        </div>
      </li>
      <li class="workout-item">
        <div class="top-wrap">
          <div class="top-wrap-right">
            <div class="workout">WORKOUT</div>
            <div class="rating">
              <span class="rating-number">4.0</span>
              <svg class="icon-star" width="13" height="13">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <button class="start-btn" type="button">
            Start
            <svg class="icon-arrow" width="14" height="14">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="workout-container">
          <div class="main-icon-wrap">
            <svg class="icon-run" width="14" height="16">
              <use href="../img/sprite.svg#icon-run"></use>
            </svg>
          </div>
          <p class="workout-title">Air bike</p>
        </div>
        <div class="workout-info">
          <p class="workout-info-container">
            <span class="workout-info-title">Burned calories:</span>
            <span class="workout-info-value">312 / 3 min</span>
          </p>
          <p class="workout-info-container">
            <span class="workout-info-title">Body part:</span>
            <span class="workout-info-value">Waist</span>
          </p>
          <p class="workout-info-container">
            <span class="workout-info-title">Target:</span>
            <span class="workout-info-value">Abs</span>
          </p>
        </div>
      </li>
      <li class="workout-item">
        <div class="top-wrap">
          <div class="top-wrap-right">
            <div class="workout">WORKOUT</div>
            <div class="rating">
              <span class="rating-number">4.0</span>
              <svg class="icon-star" width="13" height="13">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <button class="start-btn" type="button">
            Start
            <svg class="icon-arrow" width="14" height="14">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="workout-container">
          <div class="main-icon-wrap">
            <svg class="icon-run" width="14" height="16">
              <use href="../img/sprite.svg#icon-run"></use>
            </svg>
          </div>
          <p class="workout-title">Air bike</p>
        </div>
        <div class="workout-info">
          <p class="workout-info-container">
            <span class="workout-info-title">Burned calories:</span>
            <span class="workout-info-value">312 / 3 min</span>
          </p>
          <p class="workout-info-container">
            <span class="workout-info-title">Body part:</span>
            <span class="workout-info-value">Waist</span>
          </p>
          <p class="workout-info-container">
            <span class="workout-info-title">Target:</span>
            <span class="workout-info-value">Abs</span>
          </p>
        </div>
      </li>
      <li class="workout-item">
        <div class="top-wrap">
          <div class="top-wrap-right">
            <div class="workout">WORKOUT</div>
            <div class="rating">
              <span class="rating-number">4.0</span>
              <svg class="icon-star" width="13" height="13">
                <use href="../img/sprite.svg#icon-star"></use>
              </svg>
            </div>
          </div>
          <button class="start-btn" type="button">
            Start
            <svg class="icon-arrow" width="14" height="14">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="workout-container">
          <div class="main-icon-wrap">
            <svg class="icon-run" width="14" height="16">
              <use href="../img/sprite.svg#icon-run"></use>
            </svg>
          </div>
          <p class="workout-title">Air bike</p>
        </div>
        <div class="workout-info">
          <p class="workout-info-container">
            <span class="workout-info-title">Burned calories:</span>
            <span class="workout-info-value">312 / 3 min</span>
          </p>
          <p class="workout-info-container">
            <span class="workout-info-title">Body part:</span>
            <span class="workout-info-value">Waist</span>
          </p>
          <p class="workout-info-container">
            <span class="workout-info-title">Target:</span>
            <span class="workout-info-value">Abs</span>
          </p>
        </div>
      </li>
    </ul>
    <div class="negative-result is-hidden">
      <p class="negative-result-text">
        Unfortunately, <span class="no-result">no results</span> were found. You
        may want to consider other search options to find the exercise you are
        looking for. Our range is wide and you have the opportunity to find more
        options that suit your needs.
      </p>
    </div>
  </div>
</section>
