<section class="favorites-quote">
  <div class="container quote__inner--favorites">
    <div class="quote__wrapper--favorites">
      <h2 class="quote__title">Quote of the day</h2>

      <blockquote>
        <p class="quote__text js__quote-text"></p>
        <p class="quote__text--author js__quote-author"></p>
      </blockquote>
    </div>

    <picture class="img__girl--favorites">
      <source
        type="image/webp"
        media="(min-width:1440px)"
        srcset="
          ./img/quote-favorites/fav__quote--desk@2x.webp 2x,
          ./img/quote-favorites/fav__quote--desk.webp    1x
        "
      />
      <source
        type="image/webp"
        media="(min-width:768px)"
        srcset="
          ./img/quote-favorites/fav__quote--tab@2x.webp 2x,
          ./img/quote-favorites/fav__quote--tab.webp    1x
        "
      />
      <source
        type="image/webp"
        media="(min-width:375px)"
        srcset="
          ./img/quote-favorites/fav__quote--mob@2x.webp 2x,
          ./img/quote-favorites/fav__quote--mob.webp    1x
        "
      />
      <img
        class="quote-favorites--pic"
        src="./img/quote-favorites/fav__quote--mob.webp"
        alt="sportgirl image"
        width="335px"
        height="269px"
      />
    </picture>

    <div class="wrapper__text--favorites">
      <h3 class="title__text---favorites">110 min</h3>
      <p class="main__text---favorites">Daily norm of sports</p>
    </div>
  </div>
</section>
