<!-- ===== Favorites-block ===== -->

<section class="favorites-block">
  <div class="favorites-block-container container">
    <h2 class="section-title">Favorites</h2>
    <ul class="favorites-list">
      <li class="list-item">
        <p class="">Workout</p>
        <button>
          <svg class="icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-trash"></use>
          </svg>
        </button>
        <button>
          Start
          <svg class="icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
        <div>
          <svg class="icon" width="24" height="24">
            <use href="../img/sprite.svg#icon-run"></use>
          </svg>
          <h3 class="item-title">Air bike</h3>
        </div>
        <p>Burned calories:<span>312 / 3 min</span></p>
        <p>Body part:<span>Waist</span></p>
        <p>Target:<span>Abs</span></p>
      </li>
    </ul>
  </div>
</section>
