<!-- ===== Favorites-block ===== -->

<section class="favorites-block">
  <div class="favorites-block-container container">
    <h2 class="section-title">Favorites</h2>
    <ul class="favorites-list">
      <li class="list-item">
        <div class="wrap-hhhh">
          <div class="wrap-heading">
            <p class="heading">Workout</p>
            <button class="btn-trash" type="button" name="trash" trash>
              <svg
                class="icon-trash"
                width="16"
                height="16"
                data-action="trash"
              >
                <use
                  href="../img/sprite.svg#icon-trash"
                  data-action="trash"
                ></use>
              </svg>
            </button>
          </div>

          <button class="button" type="button" name="start" data-action="start">
            Start
            <svg class="icon-arrow" width="14" height="14" data-action="start">
              <use
                href="../img/sprite.svg#icon-arrow"
                data-action="start"
              ></use>
            </svg>
          </button>
        </div>

        <div class="wrap">
          <div class="wrap-icon">
            <svg class="icon-run" width="14" height="16">
              <use href="../img/sprite.svg#icon-run"></use>
            </svg>
          </div>

          <h3 class="item-title">Air bike</h3>
        </div>
        <div class="wrap-descr">
          <p class="text">Burned calories:<span>312 / 3 min</span></p>
          <p class="text">Body part:<span>Waist</span></p>
          <p class="text">Target:<span>Abs</span></p>
        </div>
      </li>
      <li class="list-item">
        <div class="wrap-hhhh">
          <div class="wrap-heading">
            <p class="heading">Workout</p>
            <button class="btn-trash" type="button">
              <svg class="icon-trash" width="16" height="16">
                <use href="../img/sprite.svg#icon-trash"></use>
              </svg>
            </button>
          </div>

          <button class="button" type="button">
            Start
            <svg class="icon-arrow" width="14" height="14">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>

        <div class="wrap">
          <div class="wrap-icon">
            <svg class="icon-run" width="14" height="16">
              <use href="../img/sprite.svg#icon-run"></use>
            </svg>
          </div>

          <h3 class="item-title">Air bike</h3>
        </div>
        <div class="wrap-descr">
          <p class="text">Burned calories:<span>312 / 3 min</span></p>
          <p class="text">Body part:<span>Waist</span></p>
          <p class="text">Target:<span>Abs</span></p>
        </div>
      </li>
      <li class="list-item">
        <div class="wrap-hhhh">
          <div class="wrap-heading">
            <p class="heading">Workout</p>
            <button class="btn-trash" type="button">
              <svg class="icon-trash" width="16" height="16">
                <use href="../img/sprite.svg#icon-trash"></use>
              </svg>
            </button>
          </div>

          <button class="button" type="button">
            Start
            <svg class="icon-arrow" width="14" height="14">
              <use href="../img/sprite.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>

        <div class="wrap">
          <div class="wrap-icon">
            <svg class="icon-run" width="14" height="16">
              <use href="../img/sprite.svg#icon-run"></use>
            </svg>
          </div>

          <h3 class="item-title">Air bike</h3>
        </div>
        <div class="wrap-descr">
          <p class="text">Burned calories:<span>312 / 3 min</span></p>
          <p class="text">Body part:<span>Waist</span></p>
          <p class="text">Target:<span>Abs</span></p>
        </div>
      </li>
    </ul>
  </div>
</section>
