<!-- FOOTER -->
<footer class="site-footer">
  <div class="container footer-container">
    <div class="footer-information-container">
      <div class="logo-links-container">
        <div class="logo-container">
          <a class="logo" href="./index.html" target="_self">energy.flow</a>
        </div>
        <ul class="social-links-container">
          <li>
            <a
              class="social-links"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="footer-icon">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="social-links"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="footer-icon">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="social-links"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="footer-icon">
                <use href="./img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="motto-form-container">
        <p class="motto">
          Transforming your <span class="motto-word">body</span> shape with us
        </p>
        <div class="form-container">
          <p class="form-sub">Subscribe and learn about new exercises!</p>
          <form class="form-footer" id="newsletter-form" method="post">
            <label for="email">
              <input
                class="form-footer-input"
                type="email"
                id="email"
                name="email"
                placeholder="E-mail"
              />
            </label>
            <button id="sendButton" class="btn-footer" type="submit">
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-privacy-container">
      <p class="footer-privacy-paragraph">Energy Flow. All rights reserved.</p>
      <p class="footer-privacy-policy">Privacy Policy / Terms of Service</p>
    </div>
  </div>
</footer>
