<header class="site-header section">
  <div class="header-container container">
    <p class="header-title">energy.flow</p>

    <div class="header-links">
      <a class="header-link-home current js-link-home" href="./index.html"
        >Home</a
      >
      <a class="header-link-favor js-link-favor" href="./favorites.html"
        >Favorites</a
      >
    </div>

    <div class="header-link-social">
      <ul class="header-ul-social">
        <li class="header-item-social">
          <a
            class="header-link-social"
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="header-item-icon" width="44" height="44">
              <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-item-social">
          <a class="header-link-social" href="" target="_blank"
            ><svg class="header-item-icon" width="44" height="44">
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-item-social">
          <a class="header-link-social" href="" target="_blank"
            ><svg class="header-item-icon" width="44" height="44">
              <use href="../img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div id="mobile-menu">
      <button
        class="header-open menu-toggle js-open-menu"
        type="button"
        data-modal-open
      >
        <svg class="header-svg" width="32" height="16">
          <use href="../img/sprite.svg#icon-burger-btn"></use>
        </svg>
      </button>
    </div>
    <!--modal window-->
    <div class="menu-container js-menu-container" id="mobile-menu">
      <div class="menu-mobail">
        <button
          class="menu-toggle js-close-menu"
          type="button"
          data-modal-close
        >
          <svg class="header-svg-close" width="12" height="12">
            <use href="../img/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <p class="menu-header-title">energy.flow</p>
      </div>
      <div class="mobail-header-links">
        <a class="mobail-header-link-home link-home-favor" href="./index.html"
          >Home</a
        >
        <a class="mobail-header-link-favor" href="./favorites.html"
          >Favorites</a
        >
      </div>

      <ul class="mobail-ul-social">
        <li class="mobail-item-social">
          <a
            class="mobail-link-social"
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="mobail-item-icon" width="44" height="44">
              <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mobail-item-social">
          <a class="mobail-link-social" href="" target="_blank"
            ><svg class="mobail-item-icon" width="44" height="44">
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mobail-item-social">
          <a class="mobail-link-social" href="" target="_blank"
            ><svg class="mobail-item-icon" width="44" height="44">
              <use href="../img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <!--end-->
  </div>
</header>
