<p>heder</p>
<div class="section">
  <div class="header-container container">
    <p class="header-title">energy.flow</p>

    <div class="header-links">
      <a class="header-link-home" href="./index.html">Home</a>
      <a class="header-link-favor" href="./favorites.html">Favorit</a>
    </div>

    <div class="link-social">social</div>

    <svg
      class="header-svg is-hidden"
      width="32"
      height="16"
      viewBox="0 0 32 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M28 10.3333H4"
        stroke="#7E847F"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M28 5H4"
        stroke="#7E847F"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</div>
