<header class="site-header section">
  <div class="header-container container">
    <a class="header-title" href="./index.html">energy.flow</a>
    <nav>
      <ul class="header-links">
        <li class="header-item">
          <a class="header-link-home js-link-home" href="./index.html">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link-favor js-link-favor" href="./favorites.html"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>

    <div class="header-link-social">
      <ul class="header-ul-social">
        <li class="header-item-social">
          <a
            class="header-link-social"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="header-item-icon" width="44" height="44">
              <use
                class="svg-icon-main"
                href="./img/sprite.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li class="header-item-social">
          <a
            class="header-link-social"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="header-item-icon" width="44" height="44">
              <use
                class="svg-icon-main"
                href="./img/sprite.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="header-item-social">
          <a
            class="header-link-social"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="header-item-icon" width="44" height="44">
              <use
                class="svg-icon-main"
                href="./img/sprite.svg#icon-youtube"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div id="mobile-menu" class="burger">
      <button
        class="header-open menu-toggle js-open-menu"
        type="button"
        data-modal-open
      >
        <svg class="header-svg" width="32" height="16">
          <use href="./img/sprite.svg#icon-burger-btn"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
<!--modal window-->
<div class="menu-container is-hidden js-menu-container" id="mobile-menu">
  <div class="menu-mobail">
    <button class="menu-toggle js-close-menu" type="button" data-modal-close>
      <svg class="header-svg-close" width="12" height="12">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <a class="menu-header-title" href="./index.html">energy.flow</a>

    <nav class="nav-mobail">
      <ul class="mobail-header-links">
        <li class="mobail-item-link">
          <a
            class="mobail-header-link-home js-link-home-mobail"
            href="./index.html"
            >Home</a
          >
        </li>
        <li>
          <a
            class="mobail-header-link-favor js-link-favor-mobail"
            href="./favorites.html"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>

    <ul class="mobail-ul-social">
      <li class="mobail-item-social">
        <a
          class="mobail-link-social"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg class="mobail-item-icon" width="44" height="44">
            <use
              class="svg-icon-mobail"
              href="./img/sprite.svg#icon-facebook"
            ></use>
          </svg>
        </a>
      </li>
      <li class="mobail-item-social">
        <a
          class="mobail-link-social"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          ><svg class="mobail-item-icon" width="44" height="44">
            <use
              class="svg-icon-mobail"
              href="./img/sprite.svg#icon-instagram"
            ></use>
          </svg>
        </a>
      </li>
      <li class="mobail-item-social">
        <a
          class="mobail-link-social"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          ><svg class="mobail-item-icon" width="44" height="44">
            <use
              class="svg-icon-mobail"
              href="./img/sprite.svg#icon-youtube"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
