<section class="hero-all">
  <div class="container hero">
    <div class="hero-img">
      <div class="hero-teg">
        <p class="hero-teg-link">#Sport</p>
        <p class="hero-teg-link">#Healthy</p>
        <p class="hero-teg-link">#Workout</p>
        <p class="hero-teg-link">#Diet</p>
      </div>
    </div>
    <div class="hero-info">
      <h1 class="hero-title">
        Get
        <span class="hero-title-body">Body</span>
        in shape, Stay healthy
      </h1>
      <p class="hero-text">
        Transform your physique and embrace a healthier lifestyle with our
        comprehensive fitness and nutrition support.
      </p>
    </div>
  </div>
</section>
