<div class="exercise-modal-container" id="exerciseModal">
  <div class="modal-exercise-wrap">
    <button
      type="button"
      class="close-exercise-btn"
      id="closeButtonExercise"
      aria-label="Close button"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 28 28"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.8332 8.16666L8.1665 19.8333M8.1665 8.16666L19.8332 19.8333"
          stroke="#1B1B1B"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <div class="card-markup-modal"></div>
    <div class="modal-button">
      <button type="button" class="modal-add-favorite">Add to favorites</button>
      <button type="button" class="modal-give-rating is-hidden">
        Give a rating
      </button>
    </div>
  </div>
</div>
