<section class="quote">
  <div class="container quote__inner">
    <div class="quote__wrapper">
      <h2 class="quote__title">Quote of the day</h2>

      <blockquote>
        <p class="quote__text js__quote-text"></p>
        <p class="quote__text--author js__quote-author"></p>
      </blockquote>
    </div>

    <div class="background__image"></div>

    <!-- <picture class="quote__img">
      <source
        media="(max-width: 767px)"
        srcset="../img/quote/mob-girl.webp, ../img/quote/mob-girl@2x.webp 2x"
      />
      <source
        media="(max-width: 1439px)"
        srcset="
          ../img/quote/tablet-girl.png,
          ../img/quote/tablet-girl@2x.webp 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        srcset="../img/quote/desk-girl.png, ../img/quote/desk-girl@2x.webp 2x"
      />

      <img
        src="../img/quote/mob-girl.png"
        alt="quote of the day"
        width="704"
        height="302"
      />
    </picture> -->
  </div>
</section>
