<section class="sport-info container">
    <div class="sport-info__wrapper">
      <h2 class="quote__title">Quote of the day</h2>
  
      <blockquote>
        <p class="quote__text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <footer class="quote__text--author">Tom Brady</footer>
      </blockquote>
    </div>
  
    <img
      src="../img/sport-info/mob-girl.png"
      srcset="../img/sport-info/mob-girl.png 1x, ../img/sport-info/mob-girl@2.png 2x,
      ../img/sport-info/tablet-girl.png 1x, ../img/sport-info/tablet-girl@2.png 2x,
      ../img/sport-info/desk-girl.png 1x, ../img/sport-info/desk-girl@2.png 2x"
      sizes="(max-width: 375px) 100vw,
         (max-width: 768px) 100vw,
         1440px"
      alt="quote of the day"
    />
  </section>