<section class="quote">
  <div class="container quote__inner">
    <div class="quote__wrapper">
      <h2 class="quote__title">Quote of the day</h2>

      <blockquote>
        <p class="quote__text">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <p class="quote__text--author">Tom Brady</p>
      </blockquote>
    </div>

    <picture class="quote__img">
      <source
        media="(max-width: 767px)"
        srcset="../img/quote/mob-girl.webp, ../img/quote/mob-girl@2x.webp 2x"
      />
      <source
        media="(max-width: 1439px)"
        srcset="
          ../img/quote/tablet-girl.png,
          ../img/quote/tablet-girl@2x.webp 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        srcset="../img/quote/desk-girl.png, ../img/quote/desk-girl@2x.webp 2x"
      />

      <img
        src="../img/quote/mob-girl.png"
        alt="quote of the day"
        width="704"
        height="302"
      />
    </picture>
  </div>
</section>
