<section class="sport-info" id="sport-info">
  <div class="container">
    <div class="wrapper-flex">
      <h2 class="sport-info-title visually-hidden">Sport-info</h2>
      <picture>
        <source
          type="image/webp"
          media="(min-width:1280px)"
          srcset="
            ../../img/sport-info/desc@2x.webp 2x,
            ../../img/sport-info/desc@1x.webp 1x
          "
        />
        <source
          type="image/jpg"
          media="(min-width:1280px)"
          srcset="
            ../../img/sport-info/desc@2x.jpg 2x,
            ../../img/sport-info/desc@1x.jpg 1x
          "
        />
        <source
          type="image/webp"
          media="(min-width:768px)"
          srcset="
            ../../img/sport-info/table@2x.webp 2x,
            ../../img/sport-info/table@1x.webp 1x
          "
        />
        <source
          type="image/jpg"
          media="(min-width:768px)"
          srcset="
            ../../img/sport-info/table@2x.jpg 2x,
            ../../img/sport-info/table@1x.jpg 1x
          "
        />
        <source
          type="image/webp"
          media="(min-width:375px)"
          srcset="
            ../../img/sport-info/mob@2x.webp 2x,
            ../../img/sport-info/mob@1x.webp 1x
          "
        />
        <source
          type="image/jpg"
          media="(min-width:375px)"
          srcset="
            ../../img/sport-info/mob@2x.jpg 2x,
            ../../img/sport-info/mob@1x.jpg 1x
          "
        />
        <img
          class="sport-info-pic"
          src="../../img/sport-info/desc@1x.jpg"
          alt="sportgirl image"
          width="335px"
          height="269px"
        />
      </picture>

      <div class="wrapper-text">
        <div class="icon-background">
          <svg class="h-icon" width="12" height="16">
            <use href="../../img/sprite.svg#icon-heart"></use>
          </svg>
        </div>
        <h3 class="title-text-block3">110 min</h3>
        <p class="main-text-style one">Daily norm of sports</p>
        <p class="main-text-style two">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day?
        </p>
      </div>
    </div>
  </div>
</section>
